*{
  background-color: whitesmoke;
}

.App {
  text-align: center;
 }

.design{

  align-items: center;
  margin-left: 100px;
}

input[type="file"] {
  display: none;
  text-align: center;
}
.custom-file-upload {
  margin: 2px 10px 15px 600px;
  border: 1px solid lightblue; 
  background-color: lightblue;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  color:black
}

table{
  width: 90%;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}


th, td {
  padding: 10px;
}

th {
  text-align: left;
}


#t01 th {
  background-color: rgb(11, 45, 51);
  color: gray;
}


#t01 tr:nth-child(even) {
  background-color: #eee;
}
#t01 tr:nth-child(odd) {
 background-color: #eee;
}
